:host {
  display: block;
}

.ff-group {
  margin-bottom: 16px;
}

.ff-group-outline {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 12px 16px 4px;
}

.ff-group-label {
  font-weight: 600;
  margin-bottom: 8px;
}
